@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  outline: 0;
  box-sizing: border-box;
  background-color: #030303;
  background-image: linear-gradient(0deg, #030303 0%, #2c0a6f 50%, #7431f3 100%);
}


.test {
  background-color: rgba(255, 255, 255, 0.799);

}