@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  outline: 0;
  box-sizing: border-box;
  background: #000000;
  background: -moz-linear-gradient(top, #000000 0%, #7431f3 49%, #000000 100%);
  background: -webkit-linear-gradient(
    top,
    #000000 0%,
    #7431f3 49%,
    #000000 100%
  );
  background: linear-gradient(to bottom, #000000 0%, #7431f3 49%, #000000 100%);
}

.test {
  background-color: #000000ef;
}
